body {
	background-color: black;
}

.button {
	font-size: 150px;
	background-color:  #08fda8;
	color: white;
	border: darkred;
	border-radius: 20%;
	padding: 200px 150px;
	text-align: center;
	text-decoration: none;
	transition-duration: 0,1;
}

.button:hover {
	background-color:  #b9cbc5;
	color:  #429075;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}